#batch-view-canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: var(--primary-theme-color);
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: auto;

    &.hidden {
        display: none;
    }
}

#batch-view-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.batch-canvas-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;
}

.batch-header-checkboxes-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
