#side-views-canvas-container {
    position: relative;
    width: 400px;
    height: 100%;
    z-index: 1001;
    border-right: 1px solid var(--border-color);
    background-color: var(--primary-theme-color);
    display: flex;
    flex-direction: row;
}

#side-views-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
