#side-views-canvas-container {
    position: relative;
    width: 400px;
    height: 100%;
    z-index: 1001;
    border-right: 1px solid var(--border-color);
    background-color: var(--primary-theme-color);
    display: flex;
    flex-direction: row;
}

#side-views-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.side-views-container {
    width: 100%;
    height: 100%;
}

.side-view-svg.hovered {
    box-shadow: 0 0 5px var(--text-color) inset;
}

.svg-line {
    display: none;

    &.hovered {
        display: block;
        stroke: var(--text-color);
        stroke-dasharray: 3, 3;
        stroke-width: 1px;
        pointer-events: none;
    }
}
