.camera-wrapper {
    position: absolute;
    inset: 60px 10px 10px 60px;
    overflow: visible;
    z-index: 20;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.camera-image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: block;
    pointer-events: none;
    resize: none;
}

.camera-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    user-select: none;
    pointer-events: auto;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    // react fiber is rude >:c
    > div > div {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.camera-image-resize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 20px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: ns-resize;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
    pointer-events: all;
    z-index: 10;

    &-icon {
        color: white;
        transform: scaleX(5);
    }
}

.camera-image-max {
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    display: flex;
    height: 15px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
    pointer-events: all;
    z-index: 10;

    &-icon {
        color: white;
    }
}
