$button-size: 40px;
$icon-size: 16px;
$grid-gap: 0px;
$grid-columns: 3;
$grid-rows: 3;

$border-radius: 5px;
$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;
$border-radius-left: 5px 0 0 5px;
$border-radius-right: 0 5px 5px 0;
$border-radius-top-left: 5px 0 0 0;
$border-radius-top-right: 0 5px 0 0;
$border-radius-bottom-right: 0 0 5px 0;
$border-radius-bottom-left: 0 0 0 5px;
$border-radius-none: 0;
$tooltip-border-radius: 7px;
